<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="MySqlConnection" providerName="MySql.Data.MySqlClient;"
         connectionString="Data Source=localhost;Initial Catalog=chidoan; Integrated Security=true;User ID=devuser;Password=devuser"/>
  </connectionStrings>
</configuration>